
@{
    Layout = null;
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../../css/styles.css" rel="stylesheet">
</head>
<body>
    <h3>Welcome @ViewBag.txtName</h3>
    <div class="container1 form">
        <img id="uploadPreview" src="../../UploadedFiles/@ViewBag.userImage" style="width: 150px; height: 150px;" /><br />
        <input onclick="location.href = '../home/newUser?email=@ViewBag.txtEmail';" type="button" value="Edit Profile" />
        <input onclick="location.href = '../home/menu';" type="button" value="Logout" />
    </div>
</body>
</html>
