
@{
    ViewBag.Title = "Home";
}

<html>
<head>
    <title>Home</title>
</head>
<body>
    <button>New User</button>
    <button>Existing User</button>
    <button>Admin</button>
    <button>Exit</button>
</body>
</html>
