
@{
    ViewBag.Title = "Home";
}

<html>
<head>
    <title>Home</title>
    <link href="../../css/styles.css" rel="stylesheet">
</head>
<body>
    <h1 style="margin:80px 470px">User Management System</h1>
    <div class="form" style="margin-top:100px">
        @*<button onclick="location.href = 'www.yoursite.com';" id="myButton" class="float-left submit-button">Home</button>*@
        <input type="button" value="New User" onclick="location.href = '../home/newUser';"><br />
        <input type="button" value="Existing User" onclick="location.href = '../existing/login';"><br />
        <input type="button" value="Admin" onclick="location.href = '../admin/login';"><br />
    </div>
</body>
</html>
